* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  padding: 10px;
}

h1,
table {
  text-align: center;
}

table {
  margin: 10px auto;
  border: 1px solid black;
}
